{% extends '_unauth_base.html' %}
{% load static %}
{% block title %}Confirm Email{% endblock title %}
{% block content %}
{% if confirmation %}
{% if can_confirm %}
    <form action="{% url 'account_confirm_email' confirmation.key %}" method="post">
        {% csrf_token %}
        <div class="w-full max-w-150 flex flex-col justify-center mb-5">
            <p class="text-zinc-500">Click below to confirm email address.</p>
        </div>
        <button type="submit" class="block text-sm mb-2 text-pink-800 hover:text-pink-700 hover:cursor-pointer transition">
            Confirm Email
        </button>
    </form>
{% else %}
    <div class="w-full max-w-150 flex flex-col justify-center mb-5">
        <p class="text-zinc-500">Email address already in use.</p>
    </div>
    <div class="w-full max-w-150">
        <a href="{% url 'account_login' %}" class="block text-sm mb-2 text-pink-800 hover:text-pink-700 transition">
            Return to Login
        </a>
    </div>
{% endif %}
{% else %}
    <div class="w-full max-w-150 flex flex-col justify-center mb-5">
        <p class="text-zinc-500">Confirmation link has expired.</p>
    </div>
    <div class="w-full max-w-150">
        <a href="{% url 'account_login' %}" class="block text-sm mb-2 text-pink-800 hover:text-pink-700 transition">
            Return to Login
        </a>
    </div>
{% endif %}
{% endblock content %}