{% extends '_auth_base.html' %}
{% load static %}
{% load field_wrappers %}
{% block title %}Change Password{% endblock %}
{% block content %}
<div class="h-full flex justify-center items-center">
    <form method="post" class="w-full max-w-150 flex flex-col justify-center">
        <div class="mb-5">
            {% csrf_token %}
            {% include 'partials/form-errors.html' %}
            {% field_wrapper form.oldpassword %}
            {% field_wrapper form.password1 %}
            <div class="flex items-start">
                {% field_wrapper form.password2 %}
                <button type="submit" class="w-13 h-13 ms-2 my-1 bg-pink-800 hover:bg-pink-700 hover:cursor-pointer transition" aria-label="Change password"></button>
            </div>
        </div>
        <div class="ps-2">
            <a href="{% url 'home' %}" class="block text-sm mb-2 text-pink-800 hover:text-pink-700 transition">
                Return Home
            </a>
        </div>
    </form>
</div>
{% endblock content %}