{% extends '_unauth_base.html' %}
{% load static %}
{% load field_wrappers %}
{% block title %}Set New Password{% endblock title %}
{% block content %}
{% if token_fail %}
<!-- Token Fail -->
<div class="w-full max-w-150 flex flex-col justify-center mb-5">
    <p class="text-zinc-700">This password reset link has expired.</p>
</div>
{% else %}
<!-- Token Active -->
<form method="post" class="w-full max-w-150 flex flex-col justify-center mb-5">
    {% csrf_token %}
    {% include 'partials/form-errors.html' %}
    {% field_wrapper form.password1 %}
    <div class="flex items-start">
        {% field_wrapper form.password2 %}
        <button type="submit" class="w-13 h-13 ms-2 my-1 bg-pink-800 hover:bg-pink-700 hover:cursor-pointer transition" aria-label="update"></button>
    </div>
</form>
{% endif %}
{% endblock content %}