{% extends '_unauth_base.html' %}
{% load static %}
{% load field_wrappers %}
{% block title %}Signup{% endblock title %}
{% block content %}
<form method="post" class="w-full max-w-150 flex flex-col justify-center mb-5">
    {% csrf_token %}
    {% include 'partials/form-errors.html' %}
    {% field_wrapper form.email %}
    {% field_wrapper form.password1 %}
    <div class="flex items-start">
        {% field_wrapper form.password2 %}
        <button type="submit" class="w-13 h-13 ms-2 my-1 bg-pink-800 hover:bg-pink-700 hover:cursor-pointer transition" aria-label="Signup"></button>
    </div>
</form>
<div class="w-full max-w-150 ps-2">
    <a href="{% url 'account_login' %}" class="block text-sm mb-2 text-pink-800 hover:text-pink-700 transition">
        Return to Login
    </a>
</div>
{% endblock content %}