{% load field_wrappers %}
<div id="{{ field.name }}-field-wrapper" class="w-full">
    <label for="{{ field.id_for_label }}" class="sr-only">{{ field.label }}</label>
    {{ field|add_class:"w-full h-13 my-1 p-4 text-white bg-zinc-800 border-transparent border-1 focus:outline-none focus:border-pink-800 transition" }}
    <ul id="{{ field.name }}-errors">
        {% for error in field.errors %}
        <li class="text-pink-600 text-xs ps-2 mt-2">{{ error }}</li>
        {% endfor %}
    </ul>
</div>